* {
    padding: 0;
    margin: 0;
  }

  html{
      font-family: "Monotserrat", sans-serif;
  }

  body{
      background-color: rgb(236, 169, 45);
      background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
      padding: 0px; 
    }
    :root{
      --nav-size:60px;
      --bg-navbar:#f5ba13;
    }



    .navbar {
      position: relative;
      background-color:var(--bg-navbar);
      height: var(--nav-size);
      width: 100%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
    .account{
      padding:  10px 15px;
      width: fit-content;
      color: #fff;
      position: absolute;
      right: 0;
      top:0;
      font-size: calc(var(--nav-size)*0.4);
      cursor: pointer;
    }
    
    .logo{
      padding:  5px 15px;
      width: auto;
      color: #fff;
      font-family: "McLaren", cursive;
      font-weight: 300;
      font-size: 200%;
    }


    .dropdown-list{
      z-index: 1;
      width: auto;
      position: absolute;
      padding: 10px;
      right: 1%;
      border-radius: 10px;
      background-color: rgb(255, 145, 0);
    }
    
    .dropdown-list ul{
      margin: 10px;
      align-items: center;
      list-style: none;

    }
    .dropdown-list li{
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  footer p {
    color: #fff;
  }

  form{
    position: relative;
    width: 80%;
    text-align: center;
    margin: 30px auto 20px auto;
    background-color:#fff;
    border-radius: 5px;
    display: block;

  }

  form.create-note input,
form.create-note textarea {
  width: 90%;
  border: none;
margin-top: 2px;
padding: 5px;
  outline: none;
  font-family: inherit;
  font-size: 1.3rem;
  resize: none;
}
form.create-note button {
    position: absolute;
    left:85%;
    top:80%;
    background: #f5ba13;
    color: #fff;
    width:40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.note{
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    padding: 5px 5px 5px 5px;
    width:90%;
    min-height: 25px;
    margin:10px auto;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 110%;
  }
.note button{
    background: #fff;
    position: absolute;
    left: 90%;
    bottom: 25px;
    color: #f5ba13;
    border: none;
    height: 0;
}

